###############################################################################
# General configuration
###############################################################################
# Which engine to work with (e.g. luatex, luajittex)
CONFIG_ENGINE=luatex
# Format of the document produced in the tests (e.g. dvi, pdf)
CONFIG_OUTPUT_FORMAT=pdf


###############################################################################
# Engine-specific configuration
###############################################################################
#
# -----  LuaTeX  ---------------------------------------------------
# The LuaTeX command
CONFIG_LUATEX=luatex
# Whether to strip in byte-compiling Lua chunks
CONFIG_LUATEX_LUA_STRIP=y
# LaTeX format to build upon in tests
CONFIG_LUATEX_LATEX_FORMAT=lualatex
# Additional arguments to pass to the engine in tests, both in dumping formats and in producing documents (e.g. --nosocket)
CONFIG_LUATEX_EXTRA_ARGUMENTS=
#
# -----  LuaJITTeX  ------------------------------------------------
# The LuaJITTeX command
CONFIG_LUAJITTEX=luajittex
# Whether to strip in byte-compiling Lua chunks
CONFIG_LUAJITTEX_LUA_STRIP=y
# Whether to turn on the JIT compiler
CONFIG_LUAJITTEX_LUA_JIT=n
# Hash function for Lua strings. Leave it undefined to take the default
#CONFIG_LUAJITTEX_LUA_JITHASH=
# LaTeX format to build upon in tests
CONFIG_LUAJITTEX_LATEX_FORMAT=luajitlatex
# Additional arguments to pass to the engine in tests, both in dumping formats and in producing documents (e.g. --nosocket)
CONFIG_LUAJITTEX_EXTRA_ARGUMENTS=
