# Whether to strip in byte-compiling Lua chunks
CONFIG_LUA_STRIP=y
# Which engine to use (e.g. luatex, luajittex)
CONFIG_ENGINE=luatex
# Base format to build upon (e.g. lualatex, luajitlatex)
CONFIG_BASE_FORMAT=lualatex
# Additional arguments to pass to the engine both in dumping formats and in producing documents (e.g. --jiton, --jithash=luajit20)
CONFIG_EXTRA_ENGINE_ARGUMENTS=
# Format of the final document
CONFIG_OUTPUT_FORMAT=pdf
